.tab {
  position: relative;
  color: white;
  margin-right: 5px;
  text-align: center;
  padding: 10px;
  cursor: pointer;
  text-transform: uppercase;
  transition: all 0.1s;
  font-weight: 300;
  border-radius: 5px;
  font-size: large;
  -moz-user-select: none;
  -khtml-user-select: none;
  user-select: none;
}

.tabs {
  display: flex;
  background: #6200ee;
  box-shadow: 0 0 10px rgba(0, 0, 0, 1);
  border-radius: 5px;
}

.tab_active {
  background: #3700b3;
  cursor: default;
  transition: all ease 0.3s;
  transform: scale(1, 1.01);
  /* font-weight: 500; */
  /* font-size: 1vw; */
}
.content {
  display: none;
  padding: 2%;
  font-size: 20px;
  margin-top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.active {
  display: block;
}
