.switch {
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  color: #394a56;
  margin-left: auto;
  margin-right: 15px;
}

.switch-text {
  margin-left: 16px;
}

.switch-container {
  isolation: isolate;
  position: relative;
  height: 30px;
  width: 60px;
  border-radius: 15px;
  overflow: hidden;
  background: #3700b3;
}

.switch-container__toggle-state {
  display: none;
}

.switch-container__indicator {
  height: 100%;
  width: 200%;
  background: #ecf0f3;
  border-radius: 15px;
  transform: translateX(-75%);
  transition: transform 0.4s cubic-bezier(0.85, 0.05, 0.18, 1.35);
}

.switch-container__toggle-state:checked ~ .switch-container__indicator {
  transform: translateX(25%);
}

.switch__info {
  margin: 15px;
  color: white;
}
